:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Welcome Page */
h1 {
  font-size: 64px;
  line-height: 64px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 44px; 
}

.custom-paragraph {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  color: #FFFFFF;
  text-align: center;
  margin-top: 22px;
}

.sign-in-button {
  width: 438px;
  height: 52px;
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 24px;
  padding: 16px 20px;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  margin-top: 48px;
}

.create-account-button {
  width: 438px;
  height: 52px;
  background: none;
  border: 1px solid white;
  border-radius: 24px;
  padding: 16px 20px;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
}
/* End of Welcome Page */

/* Sign In Page */
.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  text-align: center;
  background-color: black;
  color: white;
}

.signInH1 {
  font-size: 64px;
  margin-bottom: 43px; 
}

.custom-sign-in-form {
  display: flex;
  flex-direction: column; 
  gap: 24px; 
}

input {
  height: 52px; 
  padding: 0 12px;
  background-color: #fff; 
  color: black;
  border: none; 
  border-radius: 8px; 
  outline: none; 
}

input:focus {
  border: 2px solid #ccc;
}

.sign-in-form {
  width: 438px;
  height: 52px;
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 24px;
  padding: 16px 20px;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
}

.continueP {
  display: flex;
  align-items: center;
  text-align: center;
  width: 438px;
  color: gray;
  margin: 43px 0 22px; 
  position: relative;
}

.continueP::before,
.continueP::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: white; 
  margin: 0 10px;
}

.sign-in-google {
  width: 438px;
  height: 52px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 24px;
  padding: 16px 20px;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
}

.sign-in-google span {
  margin-left: 20px; 
}

.createLinkP{
  margin-top: 50px;
}

.createLink {
  color: #0083FF;
  font-weight: 600;
}

/* End of Sign In Page */

/* Home Page */
.home-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.nav-div {
  display: flex;
}

.home-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 32px;
  padding-left: 400px;
}

.btn-cont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 64px;
}

.collections-btn {
  width: 155px;
  height: 52px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-radius: 24px;
  padding: 11px 25px;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
}

.signOutBtn {
  padding-left: 10px;
}

.user-cont {
  display: flex;
  align-items: center;
  padding-left: 48px;
  font-size: 24px;
  white-space: nowrap;
  padding-top: 108px;
}

.user-img {
  border-radius: 50%;
}

/* End of Home Page */

/* Map */
.map_infocard_title{
  font-size: 1.25rem;
  font-weight: bold;
  color: blue;
}

.srch-container {
  position: relative;
  margin: 44px;
}

.srch-container input {
  width: 100%;
  padding-left: 40px; 
  height: 52px;
  border-radius: 24px;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
  outline: none;
  background-image: url('http://localhost:3000/images/Search.png'); 
  background-position: 10px center;
  background-repeat: no-repeat; 
  background-size: 20px 20px; 
  background-color: #888888 ;
  color: white;
  opacity: 80%;
}

.pac-target-input::placeholder {
  color: white; 
  opacity: 1; 
}

/* End of Map.tsx styling */

/* Collections page */
.collections-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-btn {
  justify-content: center;
}

.cust-heading {
  font-size: 36px;
  
}

.manage-container {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  margin-top: 56px;
}

.coll-input-container {
  display: flex;
  margin-top: 40px;
}

.coll-input-container input::placeholder {
  color: white;
  opacity: 1;
}

.coll-input-container input{
  height: 52px;
  width: 395px;
  border-radius: 24px;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
  outline: none;
  background-position: 10px center;
  background-repeat: no-repeat; 
  background-size: 20px 20px; 
  background-color: #888888 ;
}

.create-btn {
  justify-content: center;
  white-space: nowrap;
  margin-left: 18px;
}

.collections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding-left: 48px;
  margin-top: 51px;
}

.collection-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 15px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.collection-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.8);
}

.collection-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.collection-card .delete-btn {
  background-color: #ff4c4c;
  border: none;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.collection-card .delete-btn:hover {
  background-color: #ff1f1f;
}

.city-img {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px;
}

.edit-btn {
  position: absolute;
  right: 0;
  margin: 10px;
  padding: 5px;
}
/* End of Collections page */

/* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: black;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  color: black;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content select,
.modal-content input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: black;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}

.modal-content button:last-child {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.gm-style .gm-style-iw-c{
  color: black;
}
/* End of Modal */

/* Places Page */
.places-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.page-heading {
  margin: 48px;
  font-size: 36px;
}

.haunts {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  margin: 0 48px 16px;
  border-radius: 15px;
  padding: 15px;
}

.remove-btn {
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

ul {
  list-style-type: none;
}


/* End of Places Page */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
